[Unit]
Description=Crucible demo server (1 worker)
After=fdb.service
Requires=fdb.service

[Container]
Image=localhost/crucible-demo:latest
ContainerName=crucible-demo-1
Network=host
Entrypoint=/usr/local/bin/crucible-demo
Exec=-a 1 -p 8080 -c /var/fdb/fdb.cluster

[Service]
Restart=on-failure
TimeoutStartSec=10s

[Install]
WantedBy=default.target
